html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 60px;
}

.footer {
    bottom: 0;
    height: 60px;
    line-height: 60px;
    position: absolute;
    width: 100%;
}

.clickable-images{
    margin: 10px;
}

.clickable-images:hover {
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    cursor:pointer;
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.scale-down-center {
    animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -webkit-animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes shadow-drop-2-center {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
    }
    100% {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        transform: translateZ(50px);
        -webkit-transform: translateZ(50px);
    }
}

@keyframes shadow-drop-2-center {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
    }
    100% {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        transform: translateZ(50px);
        -webkit-transform: translateZ(50px);
    }
}

@-webkit-keyframes scale-down-center {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    100% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
}

@keyframes scale-down-center {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    100% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
}